@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

:root {
    --cg1: #e4e7f1;
    --cg2: #78b4e6;
    --cg3: #d0d5db;
    --cg4:#000000;
    --radius: 0.5rem;
  }

.progressbar-container{
    background-color: var(--cg1);
    /* width: 60vw; */
    min-width: 100%;
    margin: auto;
    height: 2em;
    border-radius: 1em;
    position: relative;
    margin-bottom: 3rem;
}

.progressbar{
    background-color: var(--cg2);
    width:5%;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-indent: 20px; */
}

.options-bar{
    display: grid;
    gap: .5rem;
    height:2em;
    font-size: .75rem;
    gap: .5rem;
    grid-auto-flow: column;
    height: max-content;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-self: start;
}

.option{
    padding: .5rem;
    font-size: .75rem;
}
body{
    display: grid;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    justify-items: center;
    box-sizing: border-box;
    cursor: default;
}

header{
    display: grid;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: auto 1fr;
    line-height: 2.3rem;
    /* margin-top: 30px; */
}

main{
    display: grid;
    box-sizing: border-box;
    height:100%;
}

button{
    cursor: pointer;
}

.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    padding: 2rem;
    gap: 2rem;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1250px;
    width:60vw;
    align-items: center;
    padding-top: 32px;

    
}

.row{
    display: flex;
    justify-items: center;
    padding: .1rem 1rem;
    box-sizing: border-box;
    grid-auto-flow: column;
    background-color: var(--cg3);
    border-radius: var(--radius);
    line-height: 1rem;
}

.time-options{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.text-button{
    padding: .5rem .5rem .5rem .5rem;
}

.spacer{
    height: auto;
    width: .2rem;
    border-radius: .5rem;
    background-color:#000000;
    margin: .5rem 0;
    opacity: 0.2;
}

.last-element{
    padding: .5rem 1.4rem .5rem .5rem;
}
.first-element{
    padding: .5rem .5rem .5rem 1.4rem;
}

.invisible{
    opacity: 0;
}

.removed{
    display: none;
    opacity: 0;
}

.info{
    text-indent: 1rem;
    transition: opacity 1s ease;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button1{
    border-radius: var(--radius);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    gap: .5em;
    appearance: none;
    border: none;
    background-color: var(--cg1);
    transition: background-color .2s ease;

    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.button1:hover{
    background-color:var(--cg2);
    transition: background-color .2s ease;
}

.empty-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: inherit;
}

.option-button:hover{
    color:black;
    opacity: 0.6;
    transition: opacity .2s ease;
}
.option-button{
    transition: opacity .2s ease;
}

.selected-button{
    color:var(--cg2);
}


.login-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%
}

.login{
    display: grid;
    gap:0.5rem;
    justify-content: center;
    grid-template-columns: 1fr;
}

.login-form{
    display: grid;
    gap:0.5rem;
}

.text-input{
    padding: .8em;
    outline:none;
    border:solid white;
    border-radius: var(--radius);
    width:18rem;
    background-color: var(--cg3);

    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    caret-color: var(--cg2);
}
.text-input:focus{
    border: var(--cg2) solid;
}
.text-input::selection{
    background-color: var(--cg2);
    color: var(--cg1);
}

.sign-in-button{
    margin-top: 2rem;
    font-size: 1rem;
}

.top-nav{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    align-items: center;
    gap: .5rem;
    margin-left: 2rem;
}

.right-nav{
    display: flex;
    justify-content: flex-end;
    gap:.5rem;
}

#submit-button:disabled{
    opacity: 20;
    background-color: var(--cg1);
}
