{%extends "layout.html"%}

{%block title%}Friends | Pomodoro{%endblock%}

{%block body%}
    <div class="login-container">
        <div>
            <div class="login">
                <div>add friend, your id is [{{user_id}}]</div>
                <!-- <form action="" class = "login-form"> -->

                    <input class="text-input" name = "friend_id" type="number" min="0" max="9999999" step="1" placeholder="user id" id = "user-id-input" autofocus>

                    <button type="submit" class="button1 sign-in-button" id="friend-request-button">send request</button>

                <!-- </form> -->
                
            </div>
            <div class = "table">
                test
            </div>

        </div>

        <div>
            test
        </div>
        
    </div>

{%endblock%}

{%block script%}
    <script type="module">
        import {loadFriends, sendFriendRequest} from '../static/friends.js';

        let friends = [];
        let friendRequests = [];

        // loadFriends(friends, friendRequests);

        document.getElementById('friend-request-button').addEventListener('click', async function() {
            let recieverId = document.getElementById('user-id-input').value;
            sendFriendRequest(recieverId);
        });
    </script>
{%endblock%}