{%extends "layout.html"%}

{%block title%}Pomedoro{%endblock%}

{%block body%}
<main>
    
    <div class="options-bar">
        <div class="row">
    
            <div class="option">Focus</div>
            <div class="time-options">

                {%for i in range(countFocusTimes)%}
                    {%if i == countFocusTimes -1%}
                        <div class="text-button last-element">
                    {%else%}
                        <div class="text-button">
                    {%endif%}    
                            <button class="empty-button option-button">
                            <span>{{focusTimes[i]}}</span>
                        </button>
                    </div>
                {%endfor%}

            </div>
    
            <div class="spacer"></div>
    
            <div class="option first-element">Rest</div>
            <div class="time-options">
                {%for i in range(countRestTimes)%}
                    {%if i == countRestTimes -1%}
                        <div class="text-button last-element">
                    {%else%}
                        <div class="text-button">
                    {%endif%}    
                            <button class="empty-button option-button">
                            <span>{{restTimes[i]}}</span>
                        </button>
                    </div>
                {%endfor%}
            </div>
    
            <div class="spacer"></div>
    
            <div class="option first-element">Sessions</div>
            <div class="time-options">
                {%for i in range(countSessionCounts)%}
                    <div class="text-button">
                        <button class="empty-button option-button">
                        <span>{{sessionCounts[i]}}</span>
                        </button>
                    </div>
                {%endfor%}
            </div>
    
        </div>
    </div>
    

    <!-- <div style="height: 4rem;"></div> -->

    <div class="main-content">
        <div class="info invisible" id="time-left-text">15m 59s</div>
        <div class="progressbar-container">
            <div class="progressbar">
                <span id="percentage">0%</span>
            </div>
        </div>

        <div class = "button-container">
            <button id = "startButton" class = "button1">Start Focus</button> <button id="pauseButton" class = "button1 removed">Pause</button>
        </div>

    </div>

</main>
    

    
{%endblock%}

{%block script%}
    <script type="module">
        import {toMinSec, startPomedoro, pausePomedoro, endPomedoro} from '../static/helpers.js';

        var time = 5;
        var restTime = 3;
        var cycles = 3;
        var stats = {timeLeft:time, time:time, restTime:restTime, cycles:cycles, timerType:0, focusCompleted:0, restCompleted:0, smoothCompletion:0}
        var started = false;

        startButton.addEventListener("click", async function() {
            console.log("async function started")
            started = true;
            while (started && (stats.focusCompleted < stats.cycles || stats.restCompleted < stats.cycles)) {
                if (stats.timerType == 0) {
                    console.log("focus start")
                    await startPomedoro(stats);
                }
                else {
                    console.log("rest start")
                    await startPomedoro(stats);
                }
            }
            if (stats.focusCompleted == stats.cycles || stats.restCompleted == stats.cycles) {
                console.log("cycle complete")
            }
            else {
                console.log("cycle paused")
            }
        });
        
        pauseButton.addEventListener("click", function() {
            started = false;
            pausePomedoro()
        });


    </script>
{%endblock%}