{%extends "layout.html"%}

{%block title%}Pomedoro{%endblock%}

{%block body%}
<main>
    
    <div class="options-bar">
        <div class="row">
    
            <div class="option">Focus</div>
            <div class="time-options">

                {%for i in range(countFocusTimes)%}
                    {%if i == countFocusTimes -1%}
                        <div class="text-button last-element">
                    {%else%}
                        <div class="text-button">
                    {%endif%}    
                            <button class="empty-button option-button focus-times" id="{{focusTimes[i]}}-focus">
                            <span>{{focusTimes[i]}}</span>
                        </button>
                    </div>
                {%endfor%}

            </div>
    
            <div class="spacer"></div>
    
            <div class="option first-element">Rest</div>
            <div class="time-options">
                {%for i in range(countRestTimes)%}
                    {%if i == countRestTimes -1%}
                        <div class="text-button last-element">
                    {%else%}
                        <div class="text-button">
                    {%endif%}    
                            <button class="empty-button option-button rest-times" id = "{{restTimes[i]}}-rest">
                            <span>{{restTimes[i]}}</span>
                        </button>
                    </div>
                {%endfor%}
            </div>
    
            <div class="spacer"></div>
    
            <div class="option first-element">Sessions</div>
            <div class="time-options">
                {%for i in range(countSessionCounts)%}
                    <div class="text-button">
                        <button class="empty-button option-button session-counts" id="{{sessionCounts[i]}}-sessions">
                        <span>{{sessionCounts[i]}}</span>
                        </button>
                    </div>
                {%endfor%}
            </div>
    
        </div>
    </div>
    

    <!-- <div style="height: 4rem;"></div> -->

    <div class="main-content">
        <div class="info invisible" id="time-left-text">15m 59s</div>
        <div class="progressbar-container">
            <div class="progressbar">
                <span id="percentage">0%</span>
            </div>
        </div>

        <div class = "button-container">
            <button id = "startButton" class = "button1">Start Focus</button> <button id="pauseButton" class = "button1 removed">Pause</button>
        </div>

    </div>

</main>
    

    
{%endblock%}

{%block script%}
    <script type="module">
        import {toMinSec, startPomedoro, pausePomedoro, endPomedoro, loadSettings} from '../static/helpers.js';

        // TODO: modify this to use cookies to save a player's default
        
        let time = 2;
        let restTime = 1;
        let cycles = 2;

        let settings = await loadSettings();

        time = settings["focus"]*60;
        restTime = settings["rest"]*60;
        cycles = settings["sessions"];
        console.log(settings);
        
        let stats = {timeLeft:time, time:time, restTime:restTime, cycles:cycles, timerType:0, focusCompleted:0, restCompleted:0, smoothCompletion:0};
        let started = false;

        startButton.addEventListener("click", async function() {
            console.log("async function started");
            started = true;
            while (started && (stats.focusCompleted < stats.cycles || stats.restCompleted < stats.cycles)) {
                if (stats.timerType == 0) {
                    console.log("focus start");
                    await startPomedoro(stats);
                }
                else {
                    console.log("rest start")
                    await startPomedoro(stats);
                }
            }
            if (stats.focusCompleted == stats.cycles && stats.restCompleted == stats.cycles) {
                console.log("cycle complete");
                endPomedoro();
            }
            else {
                console.log("cycle paused");
            }
        });

        // pause button
        pauseButton.addEventListener("click", function() {
            started = false;
            pausePomedoro();
        });


        // option bar functionality
        let focusButtons = document.getElementsByClassName("focus-times")
        Array.from(focusButtons).forEach(element => {
            element.addEventListener("click", function() {
                if (started === false) {
                    Array.from(focusButtons).forEach(element => {
                        element.classList.remove("selected-button");
                    });
                    console.log(element.id);
                    stats.time = element.id * 60;
                    stats.timeLeft = stats.time;
                    element.classList.add("selected-button");
                }
            });
        });

        let restButtons = document.getElementsByClassName("rest-times")
        Array.from(restButtons).forEach(element => {
            element.addEventListener("click", function() {
                if (started === false) {
                    Array.from(restButtons).forEach(element => {
                        element.classList.remove("selected-button");
                    });
                    console.log(element.id);
                    stats.restTime = element.id * 60;
                    element.classList.add("selected-button");
                }
            });
        });

        let sessionButtons = document.getElementsByClassName("session-counts")
        Array.from(sessionButtons).forEach(element => {
            element.addEventListener("click", function() {
                if (started === false) {
                    Array.from(sessionButtons).forEach(element => {
                        element.classList.remove("selected-button");
                    });
                    console.log(element.id);
                    stats.cycles = element.id;
                    element.classList.add("selected-button");
                }
            });
        });


    </script>
{%endblock%}