<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="stylesheet" href="static/styles.css">
    
        <title>
            {%block title%}Pomedoro{%endblock%}
        </title>
    </head>
    
    <body>
        <div class="container">
            <!-- <div class="wrapper"> -->
                <header>
                    <a id="logo" href="/" class="nav-element">
                        <div class = "text">pomedoro</div>
                    </a>
                    <nav>
                        <a href = "/" class="nav-element">
                            <div class="text">friends</div>
                        </a>
                    </nav>
                </header>
                {%block body%}{%endblock%}
                
                <div class="footer">
                    footer
                </div>
            <!-- </div> -->
        </div>

        {%block script%}{%endblock%}
        
    </body>
</html>
