<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="static/priority.css">
    
        <title>
            {%block title%}Pomodoro{%endblock%}
        </title>
    </head>
    
    <body>
        <div class="container">
                <header>
                    <a id="logo" href="/" class="nav-element">
                        <div class = "text">pomodoro</div>
                    </a>
                    <div class="top-nav">
                        <a href = "/friends" class="nav-element">
                            <div class="text">friends</div>
                        </a>
                        {% if session["username"] %}
                            <div class="right-nav">
                                <a href = "/logout" class="nav-element">
                                    <div class="text">logout</div>
                                </a>
                            </div>
                        {%else%}
                            <div class="right-nav">
                                <a href = "/register" class="nav-element">
                                    <div class="text">register</div>
                                </a>
                                <a href = "/login" class="nav-element">
                                    <div class="text">login</div>
                                </a>
                            </div>

                        {%endif%}
                    </div>
                </header>
                {%block body%}{%endblock%}
                
                <div class="footer">
                    footer
                </div>
        </div>

        {%block script%}{%endblock%}
        
    </body>
</html>
