{%extends "layout.html"%}

{%block title%}Login | Pomodoro{%endblock%}

{%block body%}
    <div class="login-container">
        <div class="login">
            <div>login</div>
            <form action="/login" method = "post" class = "login-form">
                <input class="text-input" type="email" placeholder="email" autofocus autocomplete="email">
                <input class="text-input" type="password" placeholder="password">

                <button type="submit" class="button1 sign-in-button">sign me in!</button>

            </form>
        </div>
        
    </div>



{%endblock%}