{%extends "layout.html"%}

{%block title%}Login | Pomedoro{%endblock%}

{%block body%}
    <div class="login-container">
        <div class="login">
            <div>login</div>
            <form action="/login" method = "post" class = "login-form">
                <input class="text-input" type="text" placeholder="username" autofocus autocomplete="off">
                <input class="text-input" type="email" placeholder="email" autocomplete="email">
                <input class="text-input" type="password" placeholder="password">
                <input class="text-input" type="password" placeholder="confirm password">

                <button type="submit" class="button1 sign-in-button">Register</button>

            </form>
        </div>
        
    </div>



{%endblock%}